/* App.css */
html {
  scroll-behavior: smooth;
}

.app{
  display: none;
}

.none{
  display: block;
  text-align: center;
  width: 100vw;
}

@media (min-width: 1024px){
  .app{
    display: block;
  }

  .none{
    display: none;
  }
}
